body {
    font-family: Arial, sans-serif;
    margin: 10px;
    color: #44d62c;
    background-color: #141414;
    opacity: 95%;
    width: 400px;
    background-image: url(cookiecryptBG.jpg);
}

h1 {
    color: #44d62c;
}

.cookie-category {
    border: 1px solid #6d6d6d;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #333333
}

.cookie-item {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 5px;
    word-wrap: break-word;
    /* Ensure long words are broken and wrapped */
    position: relative;
    /* Added for absolute positioning of icons */
    min-height: 20px;
}

.cookie-name {
    font-weight: bold;
    display: inline-block;
    /* This will help with alignment */
    width: calc(100% - 40px);
    /* Adjust the width to make space for the icon */
    padding-top: 3px;
}

.cookie-title:hover {
    text-decoration: underline;
}

.cookie-details.collapsed {
    display: block;
}

.cookie-details {
    display: none;
    max-height: 200px;
    margin-top: 5px;
    font-size: 0.9em;
    word-wrap: break-word;
    /* Ensure long words are broken and wrapped */
    overflow-y: auto;
    /* Add vertical scrolling */
}

.cookie-value,
.cookie-expiration {
    /* Styles for value and expiration fields */
    max-height: 50px;
    /* Maximum height before scrolling */
    overflow-y: auto;
    /* Enable vertical scroll */
    /*white-space: nowrap; /* Keeps the text on a single line */
    /*overflow-x: auto; /* Enable horizontal scroll */
}

.expanded-category {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.cookie-category h2 {
    color: #44d62c;
    font-size: 1.2em;
    margin-bottom: 8px;
    margin-top: 4px;
}

.cookie-category h2:hover {
    color: #ee5710;
    transition: 0.2s
}

.cookie-category ul {
    list-style: none;
    padding: 0;
}

.cookie-category li {
    background-color: #2b2a2a;
    border: 1px solid #41eb2b;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 0.9em;
}

.cookie-list.collapsed {
    display: none;
}

.category-title {
    cursor: pointer;
    color: #0056b3;
}

.edit-button {
    margin-top: 5px;
    cursor: pointer;
    background-color: #007bff;
    padding: 4px 8px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #0551a1;
    transition: 0.2s
}

.delete-button {
    margin-top: 5px;
    cursor: pointer;
    background-color: #dc3545;
    padding: 4px 8px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#cookieList {
    margin-top: 10px;
}

.editable-label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    /* Make label take its own line */
}

.editable-value,
.editable-expires {
    width: calc(100% - 20px);
    height: 50px;
    margin: 5px 0;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ddd;
    resize: vertical;
    /* Allows resizing vertically */
}

/* To make save button look nicer */
.save-button {
    display: inline-block;
    /* Change to inline-block */
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    /* Add right margin for spacing */
}

.save-button:hover {
    background-color: #0056b3;
    transition: 0.2s
}

.arrow-icon {
    cursor: pointer;
    float: right;
    /* Align to the right */
    width: 20px;
    /* Adjust size as needed */
    height: 20px;
    /* Adjust size as needed */
}

/* To make cancel button look nicer */
.cancel-button {
    display: inline-block;
    /* Change to inline-block */
    padding: 8px 15px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #c82333;
    transition: 0.2s
}

/* Container for buttons */
.button-container {
    display: flex;
    margin-top: 10px;
}


.confirmation-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ddd;
    padding: 20px;
    background-color: rgb(49, 46, 46);
    z-index: 10;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: rgb(49, 46, 46);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.delete-all-button {
    padding: 4px 8px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-all-button:hover {
    background-color: #a01c2a;
    transition: 0.2s
}

.red-thin-button {
    padding: 4px 8px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.red-thin-button:hover {
    background-color: #af0d1d;
    transition: 0.2s
}

.red-thin-button.collapsed {
    display: none;
}

.blue-thin-button {
    padding: 4px 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.blue-thin-button:hover {
    background-color: #024ea0;
    transition: 0.2s
}

.purple-thin-button {
    padding: 4px 8px;
    background-color: #7317ec;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.purple-thin-button:hover {
    background-color: #490d97;
    transition: 0.2s
}

/* This styles the scrollbar track */
::-webkit-scrollbar {
    width: 12px;
    /* Adjust the width of the scrollbar */
    background-color: black;
    /* Makes the background transparent */
}

/* This styles the scrollbar handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.5);
    /* A semi-transparent gray color */
    border-radius: 6px;
    /* Rounds the corners of the scrollbar handle */
    border: 3px solid transparent;
    /* Makes the scrollbar handle 'float' */
    background-clip: content-box;
    /* Ensures the inner border doesn't overlap */
}

/* Optional: This styles the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(128, 128, 128, 0.75);
    transition: 0.2s
    /* A darker semi-transparent gray color on hover */
}